.calContainer{
    display: flex;
    flex-direction: column;
    /* max-width: 50vw; */
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.box{
    background-color: black;
    color: white;
    padding: 30px;
}

.calHeading{
    text-align: center;
    text-decoration: overline;
}