.calContainer{
    display: flex;
    flex-direction: column;
    /* max-width: 50vw; */
    justify-content: center;
    align-items: center;
    margin: 10em;
}

.box{
    background-color: black;
    color: white;
    padding: 10px;
}